{% extends 'topic.html.twig' %}

{% block phone_topic_label %}
    <h3 id="mobile_topic_label">{{ topicName|capitalize }}:</h3>
{% endblock %}

{% block overview_text %}
    <p style="margin-bottom:0px;display:inline;">
        {% for i in 0..10 %}
            This is where all of the overview for {{ topicName }} will go.
        {% endfor %}
    </p>
{% endblock %}

{% block title %}
    <title> Cognized | {{ topicName|capitalize }}</title>
{% endblock %}

{% block topic_label %}
{{ topicName|capitalize }}
{% endblock %}

{% block subject_label %}
{{ subjectName|capitalize }}
{% endblock %}

{% block content_filter_buttons %}
    {% for content_type in content_types %}
        <button type="button" class="btn btn-primary">{{ content_type|capitalize }}</button>
    {% endfor %}
{% endblock %}

{% block content %}
    <blockquote class="embedly-card" data-card-key="d1a1c1af52fd48a59c8da3ee0e7fe2d4" data-card-align="right">
        <h4><a href="https://www.youtube.com/watch?v=p_o4aY7xkXg">Minute Physics: What is Gravity?</a></h4>
        <p>One Minute Physics provides an energetic and entertaining view of old and new problems in physics -- all in one minute! In this episode, we discuss the basic nature of gravity, one of the four fundamental forces in our universe. Come back for a new video every week!</p>
    </blockquote>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
{% endblock %}

{% block author_block %}
    <div id="about_the_author_panel" class="panel panel-default card" align="center">
        <div class="panel-heading" style="padding-top:5px;padding-left:5px;padding-right:5px;padding-bottom:0px;background-color: #DEDEDE;border-width: 1px;border-bottom-style: solid;">
            <h3 class="panel-title" style="margin-bottom:2px;" align="left">About the Author</h3>
        </div>
        <div class="panel-body" align="left" style="margin-left: 5px; margin-top: 5px;">
            This is where users will be able to support the author of the content.
        </div>
    </div>
{% endblock %}

{% block content_column %}
    {% for i in 0..7 %}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ materials[i%3] }}</h4>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <i class="fa fa-leaf fa-5x"></i>
            <div class="card-block">
                <p class="card-text">
                    {% for i in 0..random(4) %}
                        This is some text that will make up the body of the card.
                        {% endfor %}
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}